.switcher-container {
  position: absolute;
  left: 20px;
  top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switcher-container h3 {
  color: white;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
